/* /mnt/data/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Updated background properties */
  background: url(/public/totoro_3.jpeg); /* change if you want an image */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* End of updated properties */
  overflow: auto;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* clock wrapper */
.clock {
  backdrop-filter: blur(10px);
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  width: 100vw;
  color: hsl(0, 0%, 100%);
  font-size: 5em;
  padding: 10px 0px;
  margin-top: 40vh;
  margin-bottom: auto;
}

/* if your clock uses an element like .time or .ampm inside, ensure they inherit */
.clock .time, .clock .ampm {
  margin: 0 0.25rem;
  line-height: 1;
}