/* /mnt/data/index.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: auto;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* clock wrapper */
.clock {
  backdrop-filter: blur(10px);
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  width: 100vw;
  color: hsl(0, 0%, 100%);
  font-size: 5em;
  padding: 10px 0px;
  margin-top: 40vh;
  margin-bottom: auto;
}

/* if your clock uses an element like .time or .ampm inside, ensure they inherit */
.clock .time, .clock .ampm {
  margin: 0 0.25rem;
  line-height: 1;
}

.background-changer{
  position: fixed;
  top: 10px;
  right: 10px;
  color: hsl(0, 0%, 100%);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.img-btn {
  max-width:25px;
  max-height:25px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center; 
}

footer{
  position: fixed;
  bottom: 10px;
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}